[[source]]



url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

facebook-sdk = {git = "https://github.com/mobolic/facebook-sdk.git"}
google-api-python-client = "*"
"oauth2client" = "*"
python-dateutil = "*"
"httplib2" = "*"


[dev-packages]

[scripts]
sync = "python3 /home/ec2-user/fb-to-calendar-sync/code/index.py --noauth_local_webserver"

[requires]

python_version = "3.6"
